* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 221, 244);
    user-select: none;
}

/* Estilo del header */
.top-header {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* Estilo del contenedor de la imagen */
.tier {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    height: 400px;
    overflow: hidden;
}

/* Estilo de la imagen */
.tier img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: blue;
    padding: 5px;
    width: 700px;
    gap: 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.boton-agregar-jugador {
    background-color: aliceblue;
    color: blue;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar-nombre {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.agregar-nombre.active {
    background-color: #cc1515;
}

.boton-borrar, .boton-reset-cancha {
    background-color: aliceblue;
    color: rgb(240, 11, 11);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-draw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.boton-escribir {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-escribir.active {
    background-color: red;
}

.contenedor-jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.jugadores {
    height: 50px;
    width: 50px;
    cursor: move;
    object-fit: contain;
}

#cancha .jugadores {
    height: 80px;
    width: 80px;
    position: absolute;
    object-fit: contain;
}

.nombre {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    white-space: nowrap;
    max-width: 200px;
    min-width: 80px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
    z-index: 2;
    transform: translate(-50%, 0); /* Centra horizontalmente */
}

.nombre-input {
    position: absolute;
    border: 1px solid #ccc;
    padding: 2px 5px;
    background-color: #fff;
    font-size: 20px;
    z-index: 10;
    max-width: 200px;
    min-width: 80px;
    transform: translate(-50%, 0); /* Centra horizontalmente */
}